/* Global styles */
@font-face {
    font-family: 'Acme-Regular';
    src: url('Acme-Regular.ttf') format('truetype');
}

body {
  font-family: 'Acme-Regular', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  background-image: url('dust_scratches.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(30%);
  
}

/* Header styles */
header {
  background-color: grey;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}
h1, h2, h3 {
  font-family: 'Acme-Regular';
  letter-spacing: 2px;
}

header h1 {
  margin: 0;
  color:black;
  font-size: 2em;
  font-weight: bold;
}

header nav a {
  background-image: url('7625321_galaxy_space_astronomy_universe_icon.png');
  background-repeat: no-repeat;
  background-size: 1.2em;
  background-position: left center;
  padding-left: 1.5em;
}

header nav a:hover {
  color: #3498db;
  text-decoration: underline;
}

.planet {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: blue;
  animation: spin 10s linear infinite;
}
@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

/* Main section styles */
main {
  padding: 2em;
}

section {
  margin-bottom: 2em;
}

/* Footer styles */
footer {
  background-color: #F5F5F5;
  color: white;
  text-align: center;
  padding: 1em;
}
/* Footer styles */
.footer-icon {
  width: 32px;
  height: 32px;
}

